body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.question-content {
    display: flex;
    flex-direction: row;
}

form {
    margin: 2rem 0 0 3rem;
}

form > div > input[type=submit] {
    margin-top: 1rem;
}